<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Hyva\OptimizedCspAllowlist\Module\ModuleList">
        <plugin name="hyva_only_used_modules"
                type="Hyva\OptimizedCspAllowlist\Plugin\GetUsedModules"/>
    </type>
    <virtualType name="Hyva\OptimizedCspAllowlist\Module\Dir\Reader" type="Magento\Framework\Module\Dir\Reader">
        <arguments>
            <argument name="moduleList" xsi:type="object">Hyva\OptimizedCspAllowlist\Module\ModuleList</argument>
        </arguments>
    </virtualType>
    <virtualType name="Hyva\OptimizedCspAllowlist\Config\FileResolver" type="Magento\Framework\App\Config\FileResolver">
        <arguments>
            <argument name="moduleReader" xsi:type="object">Hyva\OptimizedCspAllowlist\Module\Dir\Reader</argument>
        </arguments>
    </virtualType>

    <virtualType name="Hyva\OptimizedCspAllowlist\Model\Collector\CspWhitelistXml\FileResolver" type="Magento\Csp\Model\Collector\CspWhitelistXml\FileResolver">
        <arguments>
            <argument name="moduleFileResolver" xsi:type="object">Hyva\OptimizedCspAllowlist\Config\FileResolver</argument>
        </arguments>
    </virtualType>
    <virtualType name="Hyva\OptimizedCspAllowlist\Model\Collector\CspWhitelistXml\Reader" type="Magento\Csp\Model\Collector\CspWhitelistXml\Reader">
        <arguments>
            <argument name="fileResolver" xsi:type="object">Hyva\OptimizedCspAllowlist\Model\Collector\CspWhitelistXml\FileResolver</argument>
        </arguments>
    </virtualType>
    <type name="Hyva\OptimizedCspAllowlist\Model\Collector\CspWhitelistXml\Data">
        <arguments>
            <argument name="reader" xsi:type="object">Hyva\OptimizedCspAllowlist\Model\Collector\CspWhitelistXml\Reader</argument>
        </arguments>
    </type>
    <virtualType name="Hyva\OptimizedCspAllowlist\Model\Collector\CspWhitelistXmlCollector" type="Magento\Csp\Model\Collector\CspWhitelistXmlCollector">
        <arguments>
            <argument name="configReader" xsi:type="object">Hyva\OptimizedCspAllowlist\Model\Collector\CspWhitelistXml\Data</argument>
        </arguments>
    </virtualType>

    <virtualType name="Hyva\OptimizedCspAllowlist\Model\CompositePolicyCollector" type="Magento\Csp\Model\CompositePolicyCollector">
        <arguments>
            <argument name="collectors" xsi:type="array" >
                <item name="whitelist" xsi:type="object" sortOrder="2">Hyva\OptimizedCspAllowlist\Model\Collector\CspWhitelistXmlCollector</item>
                <item name="view_model" xsi:type="object" sortOrder="4">Hyva\OptimizedCspAllowlist\Model\Collector\ViewModelPolicyCollector\Proxy</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Csp\Model\CspRenderer">
        <arguments>
            <argument name="collector" xsi:type="object">Hyva\OptimizedCspAllowlist\Model\CompositePolicyCollector</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\Template\File\Resolver">
        <plugin name="hyva_aggregate_used_modules"
                type="Hyva\OptimizedCspAllowlist\Plugin\AggregateUsedModules"/>
    </type>
</config>
