<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <allowlist>
                <optimization_enabled>1</optimization_enabled>
                <modules_disabled>0</modules_disabled>
            </allowlist>
        </csp>
    </default>
</config>
